@model Library.EjemplarPrestamo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EjemplarPrestamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ejemplar.ejemplar_numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ejemplar.ejemplar_numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prestamo.prestamo_estado_devolucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prestamo.prestamo_estado_devolucion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.eje_prestamo_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
