@model IEnumerable<Library.Administrador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.administrador_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.administrador_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.administrador_password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.administrador_email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.administrador_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.administrador_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.administrador_password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.administrador_email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.administrador_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.administrador_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.administrador_id })
        </td>
    </tr>
}

</table>
