@model IEnumerable<Library.Ejemplar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ejemplar_numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ejemplar_estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Libro.libro_nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ejemplar_numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ejemplar_estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Libro.libro_nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ejemplar_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.ejemplar_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ejemplar_id })
        </td>
    </tr>
}

</table>
