@model IEnumerable<Library.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.libro_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.libro_fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.libro_precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor.autor_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editorial.editorial_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero.genero_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor.proveedor_nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.libro_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.libro_fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.libro_precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor.autor_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editorial.editorial_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero.genero_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor.proveedor_nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.libro_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.libro_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.libro_id })
        </td>
    </tr>
}

</table>
